@charset "utf-8";

img.card {
  width: 16rem;
  height: 12rem;
  margin: 0.5rem;
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}

.img-bar {
  background-image: url('img/canoe.png');
  background-repeat: repeat-x;
  background-size: auto 20px;
  height: 2rem;
}
